import logging
import sys

ENVIRONMENT = {
    'account_number': 12345,
    'name': 'environment_name'
}

# Base logging
LOG_FORMAT = '%(name)s %(levelname)s - %(message)s'
LOG_LEVEL = logging.DEBUG

logger = logging.getLogger()
console_handler = logging.StreamHandler(stream=sys.stderr)
formatter = logging.Formatter(LOG_FORMAT)
console_handler.setFormatter(formatter)
logger.addHandler(console_handler)
logger.setLevel(LOG_LEVEL)

# Adjust level of neo4j logging
neo4j_logger = logging.getLogger('neo4j')
neo4j_logger.setLevel(logging.WARNING)


# Neo4j connections
NEO4J_USERNAME = 'neo4j_user'
NEO4J_PASSWORD = 'neo4j_password'
NEO4J_URI = 'bolt://neo4j_uri'


DATA_DIR = '/path/to/data'
